<h1>SIGNUP</h1>

{% if userAlreadyExist %}
  <p>Benutzername existiert bereits</p>
{% endif %}

{% if passwordNotMatch %}
  <p>Passwörter stimmen nicht überein</p>
{% endif %}

<form method="POST" action="/register/">
  {% csrf_token %}
  <div>
    <span>Name:</span>
    <input name="username" type="text" />
  </div>
  <div>
    <span>Password:</span>
    <input name="password" type="password" />
  </div>
  <div>
    <span>Confirm password:</span>
    <input name="confirm_password" type="password" />
  </div>
  <div>
    <button>Signup</button>
  </div>
</form>
